.contacts {
	display: flex;
	flex-direction: column;

	.title {		

		img {
			height: 30px;
			margin-right: 10px;
		}

		h2 {
			color: $primary;
			display: inline-block;
			vertical-align: super;
			margin-bottom: 10px;
		}
	}

	.contact-tools {
		text-align: right;
		margin: -20px 9px -1px 0;

		div {
			display: inline-block;
		}
		
		svg {
			background: #fff;
			border: 1px solid $gray-light;
			border-bottom: none;
			padding: 5px 8px;
			color: $accent;
			border-radius: 0 3px 0 0;

			&.fa-plus {
				color: $primary;
				border-radius: 3px 0 0 0;
			}
		}
	}

	.contact-list {
		background: #fff;
		padding: 1em;
		height: 100%;

		.contact {
			border-bottom: 1px solid $gray-light;
			display: flex;
			align-items: center;

			.avatar {				
				max-width: 33%;
				border-radius: 50%;
				overflow: hidden;

				.crop {
					height: 90px;
					width: 90px;
					position: relative;
					background: $gray;
				}

				img {
					@extend %center;
					min-height: 90px;
					max-height: 90px;
					max-width: none;
				}
			}

			.contact-details {
				flex: 1 1 60%;
				padding: 0.3em 1em;

				p {
					margin-bottom: 0.5rem;
				}
			}
		}
	}
}